@font-face {
  font-family: "Jaffna";
  src: url("../assets/fonts/postnobillsjaffna/PostNoBillsJaffna-Regular.ttf")
    format("opentype");
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.contact-type,
.registration-link,
.tel {
  color: grey;
}

.block-row {
  display: flex;
  max-width: 1200px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.block-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-type {
  display: flex;
}

.registration {
}

.phone-icon {
  margin-right: 15px;
}

.title {
  font-family: "Jaffna";
  color: white;
  font-size: 50px;
  font-weight: 700;
}
